<div class="container">
  <div class="custom-content row">
    {% for block in section.blocks %}
      {% case block.settings.width %}
        {% when '25%' %}
          {%- assign max_height = 250 -%}
          {%- assign block_width = 'col-xs-6 col-sm-3' -%}
        {% when '33%' %}
          {%- assign max_height = 345 -%}
          {%- assign block_width = 'col-xs-6 col-sm-4' -%}
        {% when '50%' %}
          {%- assign max_height = 530 -%}
          {%- assign block_width = 'col-xs-6 col-sm-6' -%}
        {% when '66%' %}
          {%- assign max_height = 720 -%}
          {%- assign block_width = 'col-xs-12 col-sm-8' -%}
        {% when '75%' %}
          {%- assign max_height = 810 -%}
          {%- assign block_width = 'col-xs-12 col-sm-9' -%}
        {% when '100%' %}
          {%- assign max_height = 1090 -%}
          {%- assign block_width = 'col-xs-12 col-sm-12' -%}
    	{% when '100%-offset' %}
          {%- assign max_height = 1090 -%}
          {%- assign block_width = 'col-xs-12  col-sm-10 col-xs-offset-0 col-sm-offset-1' -%}
   		{% else %}
    	  {%- assign block_width = 'col-xs-12' -%}
      {% endcase %}

          {% case block.type %}
            {% when 'image' %}
				<div class="custom__item custom__item--{{block.id}} {{ block_width }} " {{ block.shopify_attributes }}>
					<div class="custom__item-inner custom__item-inner--{{ block.type }}" id="{{ img_wrapper_id }}">
						{% if block.settings.image != blank %}
							{%- assign img_url = block.settings.image | img_url: 'master' -%}
							<div >
							<img id="{{ img_id }}"
								class="custom__image lazyload js"
								src="{{ block.settings.image | img_url: '600x600' }}"
								data-src="{{ img_url }}"
								alt="{{ block.settings.image.alt | escape }}">
							</div>
						{% else %}
							{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
						{% endif %}
					</div>
				</div>
            {% when 'image_with_text' %}
    			<div class="col-xs-12 content-devider content-devider-top"></div>
				<div class="col-xs-12 title-text-row">
					<div class="text-align--{{ block.settings.title_align_text }}">
						{% if block.settings.title != blank %}
							<h4 class="h4">{{ block.settings.title | escape }}</h3>
						{% endif %}
					</div>
				</div>
    			{% capture image_content %}
					<div class="col-xs-12 col-sm-5 text-align-xs--center" >
						{% if block.settings.image != blank %}
							{%- assign img_url = block.settings.image | img_url: 'master'  -%}
							<img id="{{ img_id }}"
								class="custom__image lazyload js"
								src="{{ block.settings.image | img_url: '600x600' }}"
								data-src="{{ img_url }}"
								alt="{{ block.settings.image.alt | escape }}">
						{% else %}
							{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
						{% endif %}
					</div>
				{% endcapture %}
				{% if block.settings.image_aligment == "left" %}
					{{ image_content}}
				{% endif %}
				<div class="col-xs-12 col-sm-7" >
					<div class="text-align--{{ block.settings.align_text }}">
						{% if block.settings.content != blank %}
						<div class="rte-setting">{{ block.settings.content }}</div>
						{% endif %}
					</div>
				</div>
    			{% if block.settings.image_aligment == "right" %}
					{{ image_content}}
    				<div class="col-xs-12 content-devider content-devider-bottom"></div>
				{% endif %}
          	{% when 'text' %}
				<div class="custom__item custom__item--{{block.id}} {{ block_width }} " {{ block.shopify_attributes }}>
					<div class="custom__item-inner custom__item-inner--{{ block.type }}" id="{{ img_wrapper_id }}">
						<div class="text-align--{{ block.settings.align_text }}">
							{% if block.settings.title != blank %}
							<h4 class="h4">{{ block.settings.title | escape }}</h4>
							{% endif %}
							{% if block.settings.text != blank %}
							<div class="rte-setting">{{ block.settings.text }}</div>
							{% endif %}
						</div>
					</div>
				</div>
    		{% when 'intro' %}
				<div class="custom__item custom__item--{{block.id}} {{ block_width }} " {{ block.shopify_attributes }}>
					<div class="custom__item-inner custom__item-inner--{{ block.type }}" id="{{ img_wrapper_id }}">
						<div class="text-align--{{ block.settings.align_text }}">
							{% if block.settings.title != blank %}
							<h3 class="h3">{{ block.settings.title | escape }}</h3>
							{% endif %}
							{% if block.settings.text != blank %}
							<div class="rte-setting">{{ block.settings.text }}</div>
							{% endif %}
						</div>
					</div>
				</div>
			{% when 'heading' %}
			</div>
		</div>
		<div class="heading-row" style="background-image:url('{% if block.settings.image != blank %} {%- assign img_url = block.settings.image | img_url: 'master' -%}{{img_url}}{% endif %}');">
			<div class="container">
				<div class="custom-content row ">
					<div class="text-align--{{ block.settings.align_text }} custom__item--{{block.id}} col-xs-12 col-sm-10 col-xs-offset-0 col-sm-offset-1 ">
						{% if block.settings.title != blank %}
						<h1 class="h1">{{ block.settings.title | escape }}</h1>
						{% endif %}
						{% if block.settings.text != blank %}
						<div class="rte-setting">{{ block.settings.text }}</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="custom-content row">
			{% when 'bleed_image' %}
			</div>
		</div>
		<div class="bleed_image-row">
			{% if block.settings.image != blank %} {%- assign img_url = block.settings.image | img_url: 'master' -%}<img scr="{{img_url}}" />{% endif %}
		</div>
		<div class="container">
			<div class="custom-content row">
            {% when 'video' %}
                  <div class="custom__item custom__item--{{block.id}} {{ block_width }} " {{ block.shopify_attributes }}>
					<div class="custom__item-inner custom__item-inner--{{ block.type }}" id="{{ img_wrapper_id }}">
						<div class="text-align--{{ block.settings.align_text }}">
							{% if block.settings.title != blank %}
							<h4 class="h4">{{ block.settings.title | escape }}</h4>
							{% endif %}
							{% if block.settings.cotent != blank %}
							<div class="rte-setting">{{ block.settings.cotent }}</div>
							{% endif %}
						</div>
						<section class="video-banner" id="vid">
							{{ block.settings.video_background | img_url: '850x480', crop: 'center' | img_tag: 'Video banner background', 'video-banner__background'}}
							<div class="video-banner__content">
								<div class="video-banner__caption">
								{% if block.settings.text != blank %}
								<h3 class="text-color--white mbs">{{ block.settings.text }}</h3>
								{% endif %}
							
								<a class="play-video" href="#"
								data-izimodal-open="#video-modal"
								data-izimodal-zindex="20000"
								data-izimodal-preventclose=""> Play Video </a>
								</div>
							</div>
						</section>

						<div class="iziModal" id="video-modal">
							<a href="javascript:void(0)" class="iziModal__close" data-izimodal-close>{% include 'icon-close' %}</a>
							<div class="rte__video-wrapper">
								<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ block.settings.video_url.id }}?controls=0&showinfo=0&frameborder=0&modestbranding=1&enablejsapi=1&version=3&playerapiid=ytplayer" allowfullscreen allow="autoplay;encryted-media"></iframe>
							</div>
						</div>
					</div>
				</div>
            {% when 'product' %}
				<div class="custom__item custom__item--{{block.id}} {{ block_width }} " {{ block.shopify_attributes }}>
					<div class="custom__item-inner custom__item-inner--{{ block.type }}" id="{{ img_wrapper_id }}">
						{%- assign product = all_products[block.settings.product] -%}
						{% if product.title.size > 0 %}
							{% include 'product-tile-blog' %}
						{% else %}
							{% comment %}
								No product yet. Show onboarding one.
							{% endcomment %}
						{% endif %}
					</div>
				</div>
            {% when 'triple_product' %}
              <div class="col-xs-12 content-dev ider content-devider-top"></div>
                <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
					<div class="text-align--center">
						{% if block.settings.title != blank %}
							<h4 class="h4">{{ block.settings.title | escape }}</h4>
						{% endif %}
						{% if block.settings.content != blank %}
							<div class="rte-setting">{{ block.settings.content }}</div>
						{% endif %}
					</div>
                </div>  
				<div class="col-xs-12 col-sm-4">
					{%- assign product = all_products[block.settings.product1] -%}
					{% if product.title.size > 0 %}
						{% include 'product-tile-blog-simple' %}
					{% else %}
						{% comment %}
						No product yet. Show onboarding one.
						{% endcomment %}
					{% endif %}
				</div>
                <div class="col-xs-12 col-sm-4">
					{%- assign product = all_products[block.settings.product2] -%}
					{% if product.title.size > 0 %}
						{% include 'product-tile-blog-simple' %}
					{% else %}
						{% comment %}
						No product yet. Show onboarding one.
						{% endcomment %}
					{% endif %}
				</div>
				<div class="col-xs-12 col-sm-4">
					{%- assign product = all_products[block.settings.product3] -%}
					{% if product.title.size > 0 %}
						{% include 'product-tile-blog-simple' %}
					{% else %}
						{% comment %}
						No product yet. Show onboarding one.
						{% endcomment %}
					{% endif %}
				</div>
              <div class="col-xs-12 content-devider content-devider-bottom"></div>
            {% when 'collection' %}
				<div class="custom__item custom__item--{{block.id}} {{ block_width }}" {{ block.shopify_attributes }}>
					<div class="custom__item-inner custom__item-inner--{{ block.type }}" id="{{ img_wrapper_id }}">
						{%- assign collection = collections[block.settings.collection] -%}
              
						<a href="{{ collection.url | default: "#" }}" class="collection-list-item" {{ block.shopify_attributes }}>
							{% if collection.image != blank or collection.products.first != blank %}
								{%- assign image_object = collection.image | default: collection.products.first.featured_image -%}
								<div class="collection-list__image">
									{{ image_object | img_url: '600x600', crop: 'center' | img_tag }}
								</div>
							{% elsif collection == empty %}
								{% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
								{{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
							{% endif %}

							<div class="collection-list__title">
								{%- assign default_label = 'homepage.onboarding.collection_title' | t -%}
								<h2>{{ collection.title | default: default_label }}</h2>
								<p><span class="button button--small">Shop Now</span></p>
							</div>
						</a>
					</div>
				</div> 
          
          
            {% when 'html' %}
				<div class="custom__item custom__item--{{block.id}} {{ block_width }} " {{ block.shopify_attributes }}>
					<div class="custom__item-inner custom__item-inner--{{ block.type }}" id="{{ img_wrapper_id }}">
						{% if block.settings.code != blank %}
							{{ block.settings.code }}
						{% endif %}
					</div>
				</div>
          {% endcase %}
    {% endfor %}
  </div>

  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
</div>

{% schema %}
  {
    "name": "Custom content",
    "class": "blog-content-section",
    "settings": [],
    "blocks": [
      {
        "type": "heading",
        "name": "Heading",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Talk about your brand"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Sub Title",
            "default": "Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store."
          },
		  {
            "type": "image_picker",
            "id": "image",
            "label": "Background Image"
          },
          {
            "type": "select",
            "id": "align_text",
            "label": "Horizontal alignment",
            "default": "left",
            "options": [
              {"value": "left", "label": "Left"},
              {"value": "center", "label": "Centered"},
              {"value": "right", "label": "Right"}
            ]
          }
        ]
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Talk about your brand"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
          },
          {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "50%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              },
              {
                "value": "100%-offset",
                "label": "100% With Extra Side Space"
              }
            ]
          },
          {
            "type": "select",
            "id": "align_text",
            "label": "Horizontal alignment",
            "default": "left",
            "options": [
              {"value": "left", "label": "Left"},
              {"value": "center", "label": "Centered"},
              {"value": "right", "label": "Right"}
            ]
          }
        ]
      },
      {
        "type": "intro",
        "name": "Intro Text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Talk about your brand"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
          },
          {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "50%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          },
          {
            "type": "select",
            "id": "align_text",
            "label": "Horizontal alignment",
            "default": "left",
            "options": [
              {"value": "left", "label": "Left"},
              {"value": "center", "label": "Centered"},
              {"value": "right", "label": "Right"}
            ]
          }
        ]
      },
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "50%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          }
		 ]
        },
		{
        "type": "bleed_image",
        "name": "Bleed Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      },
      {
        "type": "image_with_text",
        "name": "Image with Text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
		  {
            "type": "richtext",
            "id": "content",
            "label": "Content",
			"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "title_align_text",
            "label": "Title Horizontal alignment",
            "default": "center",
            "options": [
              {"value": "left", "label": "Left"},
              {"value": "center", "label": "Centered"},
              {"value": "right", "label": "Right"}
            ]
          },
          {
            "type": "select",
            "id": "align_text",
            "label": "Horizontal alignment",
            "default": "left",
            "options": [
              {"value": "left", "label": "Left"},
              {"value": "center", "label": "Centered"},
              {"value": "right", "label": "Right"}
            ]
          },
          {
            "type": "select",
            "id": "image_aligment",
            "label": "Image Align",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          }
        ]
      },
      {
        "type": "video",
        "name": "Video",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Talk about your brand"
          },
          {
            "type": "richtext",
            "id": "cotent",
            "label": "Text",
            "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
          },
		  {
            "type": "video_url",
            "id": "video_url",
            "label": "YouTube or Vimeo link",
            "accept": ["youtube", "vimeo"]
          },
      	  {
        	"type": "image_picker",
        	"id": "video_background",
        	"label": "Video background"
      	  },
		  {
        	"type": "text",
        	"id": "text",
        	"label": "Text",
        	"info": "Optional"
      	  },
          {
            "type": "select",
            "id": "align_text",
            "label": "Horizontal alignment",
            "default": "left",
            "options": [
              {"value": "left", "label": "Left"},
              {"value": "center", "label": "Centered"},
              {"value": "right", "label": "Right"}
            ]
          },
          {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "100%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              },
              {
                "value": "100%-offset",
                "label": "100% With Extra Side Space"
              }
            ]
          }
        ]
      },
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
		  {
            "type": "richtext",
            "id": "content",
            "label": "Content",
			"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
          },
          {
            "type": "select",
            "id": "image_aligment",
            "label": "Image Align",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          }
        ]
      },
	  {
        "type": "triple_product",
        "name": "Triple Product",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
			"default": "Use this text to share information"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content",
			"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
          },
          {
            "type": "product",
            "id": "product1",
            "label": "Product 1"
          },
		  {
            "type": "product",
            "id": "product2",
            "label": "Product 2"
          },
		  {
            "type": "product",
            "id": "product3",
            "label": "Product 3"
          }
        ]
      },
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          },
          {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "50%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          }
        ]
      },
      {
        "type": "html",
        "name": "Custom HTML",
        "settings": [
          {
            "type": "html",
            "id": "code",
            "label": "HTML"
          },
          {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "50%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom content",
        "category": "Advanced layout",
        "blocks": [
          {
            "type": "text"
          },
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}
