{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Header" section in the theme editor.

  Theme Store required settings
  - Show announcement
  - Text: message to announce
  - Link: link of the announcement bar

  Theme Store optional settings
  - Home page only: only shows on the home page
{%- endcomment -%}
<section data-section-id="{{ section.id }}" data-section-type="header">
	{%- if section.settings.announcement_bar_enabled -%}
		<div class="announcement-bar">
			{%- if section.settings.announcement_bar_home_page_only == false or template.name == 'index' -%}
				{%- if section.settings.announcement_bar_link != blank -%}
					<p><a href="{{ section.settings.announcement_bar_link }}">
					{{ section.settings.announcement_bar_text | escape }}
					</a></p>
				{%- else -%}
					<p>{{ section.settings.announcement_bar_text | escape }}</p>
				{%- endif -%}
      	
				{%- if section.settings.announcement_bar_text != blank and section.settings.announcement_bar_text_2 != blank  -%}
					<span> | </span>
				{%- endif -%}      
      
				{%- if section.settings.announcement_bar_link_2 != blank -%}
					<p><a href="{{ section.settings.announcement_bar_link_2 }}">
						{{ section.settings.announcement_bar_text_2 | escape }}
					</a></p>
				{%- else -%}
					<p>{{ section.settings.announcement_bar_text_2 | escape }}</p>
				{%- endif -%}
			{%- endif -%}
		</div>
	{%- endif -%}

	<header role="banner" class="site-header new-site-header">
		<div class="container--fluid header-top">
			<div class="row middle-xs">
				<div class="hide--xs hide--sm show--md show--lg col-md-5 site-header-top-left">
					<div class="top-header-search__container">
						<form action="/search" method="get" role="search">
							<input type="search" name="q" id="Search" class="top-header-search__input" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}">
							<button type="submit">
								{% include 'icon-search' %}
								<span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
							</button>
						</form>
					</div>
				</div>
				<div class="col-xs-12 col-md-2">
					{% if template.name == 'index' %}
						<h1 class="header-logo">
					{% else %}
						<div class="h1 header-logo">
					{% endif %}
					<a href="/" class="logo-image">
						{% if section.settings.logo != blank %}
							{% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
								<img src="{{ section.settings.logo | img_url: image_size }}"
								srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
								alt="{{ section.settings.logo.alt | default: shop.name }}">
						{% else %}
							{{ shop.name }}
						{% endif %}
					</a>
					<div class="hide--large-up">
						<a class="js-drawer-left mobile-menu" href="#mobile-menu">{% include 'icon-hamburger' %}</a>
						<a title="cart items" class="{% unless template.name contains 'cart' %}js-drawer-right{% endunless %} mobile-cart" href="/cart" >{% include 'icon-cart' %} <span class="link-badge js-cart-count">{{ cart.item_count }}</span></a>
					</div>
					{% if template.name == 'index' %}
						</h1>
					{% else %}
						</div>
					{% endif %}
				</div>
              	<div class="hide--xs hide--sm show--md show--lg col-md-5 site-header__utility site-header-top-right">
					<a title="cart items" href="/cart" class="{% unless template.name contains 'cart' %}js-drawer-right{% endunless %}">
						{% include 'icon-cart' %}
						<span class="link-badge js-cart-count">{{ cart.item_count }}</span>
					</a>
                    <a title="Store locator" href="/pages/store-locator" class="store-locator-btn">
						{% include 'icon-location' %}
					</a>
				</div>
			</div>
		</div>
      	<div class="container--fluid header-navigation">
			<div class="row middle-xs">
				<div class="hide--xs hide-sm show--md show-lg col-md-6 header-left-navigation">
					<nav role="navigation">
						<ul class="nav-top">
                          	{%- assign left_menu = section.settings.menu_left -%}
							{%- if linklists[left_menu].links.size > 0 -%}
            				{%- for link in linklists[left_menu].links -%}
								{%- if link.links != blank -%}
									<li class="nav-top__item">
										<a href="{{ link.url }}" onclick="gtag('event', 'Click', { 'event_category': 'NAV - Desktop', 'event_label':'{{ link.title }}', 'event_action':'{{ link.title }} - Main Link' });" {% if link.url contains 'https://' %} target="_blank"{% endif %}>
											{{ link.title }}
										</a>
										<div class="nav-top__mega-dropdown mega-menu-class-{{link.title | handle}}">
											<div class="container--fluid">
												<div class="row  top-xs">
													{%- if link.title == 'SHOP' or link.title == 'STYLES' -%}<div class="col-xs-6 col-md-6 col-lg-6 menu-list"><div class="row">{%- endif -%}
														{%- for childlink in link.links -%}
                                                  			{%- if link.title != 'COMMUNITIES' -%}
															{%- if link.title == 'SHOP' or link.title == 'STYLES' -%}<div class="col-xs-12 col-md-4">{%- endif -%}
																<ul class="nav-top__mega-dropdown-child">
																	<li>
																		<a href="{{ childlink.url }}" onclick="gtag('event', 'Click', { 'event_category': 'NAV - Desktop', 'event_label':'{{ link.title }}', 'event_action':'{{ childlink.title }}' });" class="nav-link--child">
																			{%- if link.title == 'Sports' or link.title == 'Styles' -%}
																				{%- capture imgname -%}menu-icon-{{link.title | handle}}-{{ childlink.title  | handle}}.png{%- endcapture -%}
																				<span><img src="{{ imgname | file_img_url: 'master' }}" alt="menu-icon-{{link.title | handle}}-{{ childlink.title  | handle}}.png" /></span>
																			{%- endif -%}
																			{{ childlink.title }}
																		</a>
																		{%- if childlink.links != blank -%}
																			<ul>
																				{%- for grandchildlink in childlink.links -%}
																					<li>
																						<a href="{{ grandchildlink.url }}" onclick="gtag('event', 'Click', { 'event_category': 'NAV - Desktop', 'event_label':'{{ link.title }}', 'event_action':'{{ grandchildlink.title }}' });" class="nav-link--grandchild">
																							{{ grandchildlink.title }}
																						</a>
																					</li>
																				{%- endfor -%}
																			</ul>
																		{%- endif -%}
																	</li>
																</ul>
															{%- if link.title == 'SHOP' or link.title == 'STYLES' -%}</div>{%- endif -%}
                                                  			{%- endif -%}
														{% endfor %}
                                                  	{%- if link.title == 'SHOP' or link.title == 'STYLES' -%}</div></div>{%- endif -%}

													{%- if link.title == 'SHOP' -%}
                                                  		<div class="col-xs-6 col-md-6 col-lg-6">
                                                        <div class="row">
														{%- for block in section.blocks -%}
                                                          	{%- if block.type == "shop_all_blocks" -%}
															{%- assign collection = collections[block.settings.collection] -%}
															<div class="col-xs-12 col-md-4">
																<a {% if block.settings.image_url != blank %}href="{{ block.settings.image_url }}" onclick="gtag('event', 'Click', { 'event_category': 'NAV - Desktop', 'event_label':'{{ link.title }} - Image {{ forloop.index }}', '{{ title }}' });"{% endif %} class="mega-dropdown__feature">
																	{%- if block.settings.image -%}
																		{{ block.settings.image | img_url: '400x' | img_tag }}
																	{%- endif -%}
																	{%- if block.settings.title != blank -%}<span class="coll_heading">{{ block.settings.title }}</span>{%- endif -%}
																</a>
															</div>
                                                          	{%- endif -%}
														{%- endfor -%}
														</div>
                                                  		</div>
													{%- endif -%}
                                                  
                                                  	{%- if link.title == 'STYLES' -%}
                                                  		<div class="col-xs-6 col-md-6 col-lg-6">
                                                        <div class="row">
														{%- for block in section.blocks -%}
                                                          	{%- if block.type == "styles_blocks" -%}
															{%- assign collection = collections[block.settings.collection] -%}
															<div class="col-xs-12 col-md-4">
																<a {% if block.settings.image_url != blank %}href="{{ block.settings.image_url }}" onclick="gtag('event', 'Click', { 'event_category': 'NAV - Desktop', 'event_label':'{{ link.title }} - Image {{ forloop.index }}', '{{ title }}' });"{% endif %} class="mega-dropdown__feature">
																	{%- if block.settings.image -%}
																		{{ block.settings.image | img_url: '400x' | img_tag }}
																	{%- endif -%}
																	{%- if block.settings.title != blank -%}<span class="coll_heading">{{ block.settings.title }}</span>{%- endif -%}
																</a>
															</div>
                                                          	{%- endif -%}
														{%- endfor -%}
														</div>
                                                  		</div>
													{%- endif -%}
                                                  
                                                  	{%- if link.title == 'COMMUNITIES' -%}
														{%- for block in section.blocks -%}
															{%- if block.type == "communities_blocks" and block.settings.image != blank -%}
																<div class="col-xs-12 col-md-2">
																	<a {% if block.settings.image_url != blank %}href="{{ block.settings.image_url }}" onclick="gtag('event', 'Click', { 'event_category': 'NAV - Desktop', 'event_label':'{{ link.title }} - Image {{ forloop.index }}', '{{ title }}' });"{% endif %} class="mega-dropdown__feature">
																		{%- if block.settings.image -%}
																			{{ block.settings.image | img_url: '400x' | img_tag }}
																		{%- endif -%}
																		{%- if block.settings.title != blank -%}<span class="coll_heading">{{ block.settings.title }}</span>{%- endif -%}
																	</a>
																</div>
                                                  			{%- endif -%}
														{%- endfor -%}
													{%- endif -%}
                                                  
												</div>
											</div>
										</div>
									</li>
								{%- else -%}
									<li class="nav-top__item">
										<a href="{{ link.url }}" onclick="gtag('event', 'Click', { 'event_category': 'NAV - Desktop', 'event_label':'{{ link.title }}', 'event_action':'{{ link.title }}' });">
											{{ link.title }}
										</a>
									</li>
								{%- endif -%}
							{%- endfor -%}
                          	{%- endif -%}
						</ul>
					</nav>
				</div>
				<div class="hide--xs hide-sm show--md show-lg col-md-6 header-right-navigation">
					<nav role="navigation">
						<ul class="nav-top">
            				{%- assign right_menu = section.settings.menu_right -%}
							{%- if linklists[right_menu].links.size > 0 -%}
            				{%- for link in linklists[right_menu].links -%}
								<li class="nav-top__item">
									<a href="{{ link.url }}" onclick="gtag('event', 'Click', { 'event_category': 'NAV - Desktop', 'event_label':'{{ link.title }}', 'event_action':'{{ link.title }}' });">
										{{ link.title }}
									</a>
								</li>
							{%- endfor -%}
                          	{%- endif -%}
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>
</section>


{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "url",
        "id": "help_link",
        "label": "Help link"
      },
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_enabled",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_home_page_only",
        "label": "Show on home page only",
        "default": true
      },
      {
        "type": "text",
        "id": "announcement_bar_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "announcement_bar_link",
        "label": "Announcement link",
        "info": "Optional"
      },
	  {
        "type": "text",
        "id": "announcement_bar_text_2",
        "label": "Announcement text 2",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "announcement_bar_link_2",
        "label": "Announcement link 2",
        "info": "Optional"
      },
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
	  {
        "type": "header",
        "content": "Navigation Bar"
      },
	  {
        "type": "link_list",
        "id": "menu_left",
        "label": "Navigation Left (Desktop)"
      },
	  {
        "type": "link_list",
        "id": "menu_right",
        "label": "Navigation Right (Desktop)"
      }
    ],
    "blocks": [
      {
        "type": "shop_all_blocks",
        "name": "Shop All Blocks",
		"limit": 3,
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
		  {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
		  {
            "type": "url",
            "id": "image_url",
            "label": "Link"
          }
        ]
      },
	  {
        "type": "styles_blocks",
        "name": "Styles Blocks",
		"limit": 3,
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
		  {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
		  {
            "type": "url",
            "id": "image_url",
            "label": "Link"
          }
        ]
      },
	  {
        "type": "communities_blocks",
        "name": "Communities Blocks",
		"limit": 6,
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
		  {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
		  {
            "type": "url",
            "id": "image_url",
            "label": "Link"
          }	
        ]
      }
    ]
  }
{% endschema %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>

{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}
