<section id="section-{{ section.id }}" class="icon-box-wrapper">
  	<div class="container">
		<div class="row">
          	<div class="col-xs-12 col-md-12">
              	{%- if section.settings.title != blank -%}
              	<h2 class="h3 section__heading text-align--center"><span>{{ section.settings.title }}</span></h2>
              	{%- endif -%}
              	<div class="icon-box-container">
					<div class="icon-box-row{% if section.settings.show_border %} icon-befor-after-border{% endif %}">
						{%- for block in section.blocks -%}
							{%- if block.settings.icon != blank -%}
								<div class="icon-box">
                                  	<div class="icon-img-box{% if block.settings.hover_icon != blank %} hover_icon {% endif %}">
									{%- if block.settings.icon_url != blank -%}<a href="{{ block.settings.icon_url }}" {% if template.name == "index" %} onclick="gtag('event', 'Click', { 'event_category': 'Home', 'event_label':'{{ block.settings.icon_url }}', 'event_action':'4F Icons' });" {% endif %}{% if template.name == "page" and page.template_suffix contains '4f' %} onclick="gtag('event', 'Click', { 'event_category': '4F', 'event_label':'{{ block.settings.icon_url }}', 'event_action':'{{ page_title }} Icons' });" {% endif %} >{%- endif -%}
										<img
            								src="{{ block.settings.icon | img_url: 'master' }}"
            								alt="{{ block.settings.icon.alt | escape }}"
                                            class="icon_img"
          								>
                                  		{%- if block.settings.hover_icon != blank -%}
										<img
            								src="{{ block.settings.hover_icon | img_url: 'master' }}"
            								alt="{{ block.settings.hover_icon.alt | escape }}"
                                            class="hover_icon_img"
          								>
                                  		{%- endif -%}
									{%- if block.settings.icon_url != blank -%}</a>{%- endif -%}
                                  	</div>
								</div>
							{%- endif -%}
						{%- endfor -%}
					</div>
				</div>
          	</div>
      	</div>
  	</div>
</section>

{% schema %}
  {
    "name": "New Icon Box",
	"class": "new-icon-box-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
	  {
        "type": "checkbox",
        "id": "show_border",
        "label": "Show Icon content Border (Before & After)"
      }
	],
	"blocks": [
      {
        "type": "icon_item",
        "name": "Icon Item",
		"limit": 4,
        "settings": [
		  {
            "type": "image_picker",
            "id": "icon",
            "label": "Icon"
          },
		  {
            "type": "image_picker",
            "id": "hover_icon",
            "label": "Hover Icon (Optional)"
          },
		  {
            "type": "url",
            "id": "icon_url",
            "label": "Icon Url"
          }
        ]
      }
	],
    "presets": [
      {
        "name": "New Icon Box"
      }
    ]
  }
{% endschema %}

<style>
.icon-box-wrapper {
    padding: 40px 0px;
}

.icon-box-container {
    display: flex;
    justify-content: center;
  	overflow: hidden;
}
.icon-box-row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-box-row .icon-box {
    padding: 0 20px;
  	text-align: center;
}
.icon-box-row .icon-img-box {
    position: relative;
    display: inline-block;
}
.icon-befor-after-border {
 	position: relative;
    padding: 0 20px;
  	margin: 0px 50px; 
}
.logo-box-container .icon-box img {
    max-width: 90%;
}  
.icon-box-row .icon-img-box img {
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.icon-box-row .icon-img-box img.hover_icon_img {
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.icon-box-row .icon-img-box img.icon_img {
    border-radius: 50%;
    display: grid;
}
  
@media screen and (min-width: 768px){  
.icon-box-row .icon-img-box.hover_icon:hover img.hover_icon_img {
    opacity: 1;
}
.icon-box-row .icon-img-box.hover_icon:hover img.icon_img {
    opacity: 0;
}
}

.icon-befor-after-border:before, .icon-befor-after-border:after {
    content: '';
    display: block;
    width: 1000px;
    position: absolute;
    top: 50%;
    border-top: 6px solid #4ec0b2;
    transform: translateY(-50%);
}
.icon-befor-after-border:before { right: 100%; }
.icon-befor-after-border:after { left: 100%; }


@media screen and (max-width: 989px){
.icon-befor-after-border {
    padding: 0 10px;
  	margin: 0px 40px; 
}
.icon-box-row .icon-box {
    padding: 0 10px;
}
}
  
@media screen and (max-width: 767px){
.icon-box-row .icon-box {
 	width: 50%; 
}
.icon-box-row {
    flex-wrap: wrap;
}
.icon-box-row .icon-box {
    padding: 5px;
}
.icon-box-wrapper {
    padding: 30px 0px;
}
.logo-box-container .icon-box img {
    max-width: 80%;
}
}
</style>
