{% include 'personify' %}
{% include 'personify-collection' %}
{% paginate collection.products by 500 %}


{% if collection.image %}
    {% assign collectionBanner = collection.image | img_url: '1600x' %}
{% else %}
	{% assign collectionBanner = 'collection-default-banner.jpg' | file_img_url: '1600x' %}
{% endif %}

<header role="banner" class="hero-banner" style="background-image: url({{ collectionBanner }});">
    <h1 class="text-align--center collection__title">{{ collection.title }}</h1>
    <div class="row center-xs">
		<div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
    		<p class="text-align--center text-color--white collection__description">{{ collection.description }} </p>
		</div>
	</div>
</header>

<div class="filter-container">
    {% include 'filter-menu' %}
</div>

{% include 'nosto-element' with 'categorypage-nosto-1' %}

{% capture prd_type  %}{% for product in collection.products %},{{ product.type }}{% endfor %}{% endcapture %}
{% assign typeList = prd_type | remove_first: "," | split : ',' | uniq %}

{% assign hidetypes = "Custom Bundle" %}


{% for type in typeList %}
	{% assign count = 0 %}
	{% for product in collection.products %}
    	{% if product.type == type %}
			{% if product.available %}
				{% assign count = count | plus: 1 %}
			{% endif %}
		{% endif %}
    {% endfor %}
	{% if count == 0 %}
		{% assign hidetypes = hidetypes | append: ";" %}
		{% assign hidetypes = hidetypes | append: type %}
	{% endif %}
{% endfor %}
{% assign exclude = hidetypes | split: ';' %}

{% for type in typeList %}
{% unless exclude contains type %}
<div class="container--fluid">
    <div class="row">
      	<div class="section-header">
          	{% assign type_code = type | downcase | replace: ' ', '_' %}
          	
          	{% capture cat_title %}collections.category_title.{{ type_code }}{% endcapture %}
          	{% assign title = cat_title | t %}
          
          	{% assign collectionName = collection.handle %}
          	
          	
          	{% if title contains 'translation missing'  %}
          		<h3>{{ type }}</h3>
          	{% else %}
				<h3>{{ title }}</h3>
          	{% endif %}
          
          	{% capture cat_description %}collections.category_sort_description.{{ type_code }}{% endcapture %}
          	{% assign cat_desc = cat_description | t %}          
          	{% assign descriptions = cat_desc | strip | split: '|' %}
			
          	{% assign description_default = '' %}
            {% assign description_collection = '' %}
            {% assign description_text = '' %}
            	
			{% for description in descriptions %}
          		{% if description contains '---' %}
          			{% assign description_collection_handle = description | strip | split: '---' |  first %}
          			{% if description_collection_handle == collection.handle %}
          				{% assign description_collection = description | strip | split: '---' |  last %}
          			{% endif %}
          		{% else %}
          			{% assign description_default = description %}
          		{% endif %}
    		{% endfor %}
          	{% if description_collection != "" %}
				{% assign description_text = description_collection %}
            {% else %}
          		{% assign description_text = description_default %}
            {% endif %}
          	{% if cat_desc contains 'translation missing' %}
          		<div class="category-sort-description"></div>
          	{% else %}
				<div class="category-sort-description">{{ description_text }}</div>
          	{% endif %}
          	
      	</div>
    {% assign show_quick_buy = true %}
    {% for product in collection.products %}
    {% if product.type == type %}
      {% include 'bold-product' with product, hide_action: 'skip' %}
      <div class="col-xs-6 col-sm-4 col-lg-4 {% unless product.available %}{% unless product.tags contains 'Marathon Series'   or  product.tags contains 'pabst1' %}sold-out{% endunless %}{% endunless  %}">
        {% include 'product-tile' %}
      </div>
	{% endif %}
    {% endfor %}
    
	</div>
</div>
{% endunless %}
{% endfor %}

{% endpaginate %}

<!-- Code by ELK to put newsletter box at bottom of collection page -->
    {% section 'newsletter' %}
<!-- End - Code by ELK to put newsletter box at bottom of collection page -->
{% include 'nosto-element' with 'categorypage-nosto-2' %}

<div class="col-xs-12 col-sm-12 col-lg-12">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
          		<div class="collection-paragraph">
              		<p>Considering how for almost two years, us introverts have had our peak version of society granted to us, we may not want to return to the “norm.” We collectively (and silently) cheered at the prospect of staying home, of canceling plans, of not being caught up in painstaking conversations in public. As this era is coming to an end, it will require reintroduction into society for many of us who have thrived on our own. In order to continue to carve out space for ourselves, we must resort to new tactics. The best solution is to cover your face as much as possible.</p>
					<p>Thankfully, masks are still available for at least a while longer, but we must push the envelope even further. This is where blue sunglasses come in. They provide coverage for your face as well as a classic and familiar style that allows you to easily flow throughout public without causing too much of a scene. Blue is the safest option. The most boring option. The most familiar option. Considering how lame that blue sunglasses are in general, it is important to be specific with your choice, otherwise you will be a mere drop in the depressed oceanscape. Goodr Blue Sunglasses are a prime choice. They are impeccable quality at a cheap price and allow you to have an air of quiet intent.</p>
                  	<p>We would also recommend that you shop a polarized version of blue sunglasses, considering the added weight that anyone would have to feel if they try to look you in the eye (and because they come with free shipping!). They will instead feel their resounding pressure levied back at themselves. Polarized blue sunglasses are a tool to deliver justice and retribution to all those extraverts who have imposed on us for so long. Their own reflection will be punishment for their metaphorical sins of exhausting small talk.</p>
					<p>While you wear blue sunglasses in public, you are guaranteed to casually slip in and out of a crowd. No awkward small talk. No recognition from that friend you left behind from before the pandemic. You will become your own superhero. You will be given a chance to create a whole new persona that is completely driven by your dawning of the frame of your blue sunglasses. They are a chance at social freedom.</p>
					<p>Trending blue sunglasses offer you enough subtly to make your public pursuits free from the hard gaze of others. You will stir no pots. You now have a chance to slowly step into society at large, once again. This time you will be aided by the frames on your face.</p>
                  	<p>What do Elton John, Linda Ronstadt, Toby Keith, and Lana Del Rey have in common?</p>
                  	<p>Blue De Ba Dee!....which is an old flamingo song lyric for blue sunglasses. But why such an abstract intro about lame artists that all have songs with Blue in the title? Because blue is inherently boring. Blue is the evil cousin to red that is probably going to spill the rose punch at the family picnic. But while you’re at the family picnic, listening to Summertime Sadness by Lana Del Ray, you don’t have to be scared about wearing sunglasses with blue frames. See, these blue frames could be referred to as indigo and automatically infinitely more exciting, and pretty damn great at blocking light. They could be like goodr’s Falkor Fever Dream polarized blue lens sunglasses. They could be referred to as Royal blue, like goodr’s blankity, blank, blank MODEL NUMBER.</p>
                  	<p>Imagine, you're rocking accessories that Elton John would wear. That should be enough to sell any customer, case in point. Why go shopping for sunglasses if you're going to pick some lame pair with a boring ass name? Brands like that bore us and they should bore you too. Add some pizazz into your life, looking like fire in your trending, blue frame sunglasses. No filter needed here, folks!</p>
                  	<p>Speaking of filters, you won't need to use one when you've got the color blue covering your entire face with our rad sunglasses that we ship right to your door. Delivery at its finest. Items like goodr sunglasses deserve to be seen, so do your part in making this 2021 trend a thing across the country, and pay a visit to our goodr store where your next new favorite pair awaits you. Plus, it's always fun to constantly check shipping and have new orders show up at your doorstep! Don't stress about having to choose the right pair. They're all flipping fantastic and you'll love anything you get.</p>
                </div>
			</div>
		</div>
	</div>
</div>