{% include 'personify' %}
{% include 'personify-product' %}
<div class="product">

  {% section 'product' %}

  {% if product.variants.size == 1 and product.available %}
    {% include 'buy-bar' width product %}
  {% endif %}

  {%- assign productSpecs = product.type | handleize | prepend: 'specs-' -%}
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        {% section 'specs-phg' %}
      </div>
    </div>
  </div>
</div>

{% include 'personify-recommendations' %} 

<div class="container mbm" id="reviews">
  <h2 class="text-align--center">REVIEWS</h2>
  <div class="yotpo yotpo-main-widget"
    data-product-id="{{ product.id }}"
    data-name="{{ product.title | escape }}"
    data-url="{{ shop.url }}{{ product.url }}"
    data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
    data-description="{{ product.description | escape }}"></div>
</div>

<!-- Code by ELK to put newsletter box at bottom of collection page -->
    {% section 'newsletter' %}
<!-- End - Code by ELK to put newsletter box at bottom of collection page -->

<script text="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>

<script type="text/javascript">
	var _learnq = _learnq || [];
	document.getElementById("add").addEventListener('click',function (){
 		_learnq.push(['track', 'Added to Cart', item]);
	});
</script>